.single-user{
    border-bottom: solid 1px gray;
    margin: 10px;
    width: 100%;
}
.single-user .header{
    display: flex !important
}

.all-files {
    display: flex;
}.single-user .header .icons p {
    margin-left: 20px ;
}
.single-user .header .icons svg{
   color: blue;
   margin: 10px
}